= "Login to " + @board.title
%br
%br
- if flash[:errors].present?
  .errors
    Errors:
    %ul
      - flash[:errors].each do |error|
        %li= error
= form_tag board_login_user_path, :method => :post do |f|
  = label_tag :username
  = text_field_tag :username
  %br
  = label_tag :ta_password
  = text_field_tag :ta_password
  %br
  = label_tag :location
  = text_field_tag :location
  %br
  = submit_tag "Login"

