= content_for :javascripts do javascript_include_tag "jquery", "login" end
= content_for :stylesheets do stylesheet_link_tag "style.css.scss", "login.css.scss", "chalkboard.css.scss" end
%table{ :class => "chalkboard" }
  %tr
    %td{ :class => "tl" }
    %td{ :class => "tm" }
      #top_tab_bar
        #student_tab
          .left_tab.left
          .content_tab.left
            Student
          .right_tab.left
        #ta_tab
          .left_tab.left
          .content_tab.left
            TA
          .right_tab.left
    %td{ :class => "tr" }
  %tr
    %td{ :class => "ml" }
    %td{ :class => "mm" }
      #login
        #status_bar
          #class_title.left
            = "Login to " + @board.title
          -#%table.board_status_table.right
            %tr
              %th Status
              %th Students in queue
              %th TA's logged in
            %tr
              %td= @board.active ? "Active" : "Inactive"
              %td= @board.students.in_queue.count
              %td= @board.tas.count
        - if flash[:errors].present?
          .errors
            Errors:
            %ul
              - flash[:errors].each do |error|
                %li= error
                
        #panes
          #student_panel
            = form_for [@board, @student] do |f|
              = f.text_field :username, :value => "username"
              = f.text_field :location, :value => "location", :class => "login"
              = submit_tag "Login", :class => "submit right"
            %span{ :class => "login_hint" }
              To log in as a student, simply type in your name and computer location.  Each computer is marked with a label on top of the desktop.  If you are not sitting at a computer, please describe where you are so that the TAs can easily locate you.
          #ta_panel
            = form_for [@board, @ta] do |f|
              = f.text_field :username, :value => "username"
              = f.text_field :password, :value => "password", :name => "queue_password"
              = submit_tag "Login", :class => "submit right"
            %span{ :class => "login_hint" }
              Please log in with your name and the password the professor you TA for provided you.  
    %td{ :class => "mr" }
  %tr
    %td{ :class => "bl" }
    %td{ :class => "bm" }
    %td{ :class => "br" }
  