= content_for :javascripts do javascript_include_tag "jquery.tools.min", "login" end
= "Login to " + @board.title
.float_right
  %table.board_status_table
    %tr
      %th Status
      %th Students in queue
      %th TA's logged in
    %tr
      %td= @board.active ? "Active" : "Inactive"
      %td= @board.students.in_queue.count
      %td= @board.tas.count
%br
%br
- if flash[:errors].present?
  .errors
    Errors:
    %ul
      - flash[:errors].each do |error|
        %li= error

<!-- the tabs -->
= form_tag board_login_user_path, :method => :post do |f|
  %ul.tabs
    %li= link_to "Student", "#"
    %li= link_to "TA", "#"
  .panes
    %div
      = label_tag :full_name
      = text_field_tag :student_name
      %br
      = label_tag :location
      = text_field_tag :location
      %p
      To log in as a student, simply type in your name and computer location.  Each computer is marked with a label on top of the desktop.  If you are not sitting at a computer, please describe where you are so that the TAs can easily locate you.
    %div
      = label_tag :full_name
      = text_field_tag :ta_name
      %br
      = label_tag :password
      = text_field_tag :ta_password
      %p
      Please log in with your name, and class password provided by the professor you TA for.
  %br
  = submit_tag "Login"
  %p
