= "Login to " + @board.title
%br
%br
- if flash[:errors].present?
  .errors
    Errors:
    %ul
      - flash[:errors].each do |error|
        %li= error

<!-- the tabs -->
= form_tag board_login_user_path, :method => :post do |f|
  %ul.tabs
    %li= link_to "Student", "#"
    %li= link_to "TA", "#"

<!-- tab "panes" -->
  .panes
    %div
      = label_tag :username
      = text_field_tag :username
      %br
      = label_tag :ta_password
      = text_field_tag :ta_password
    %div
      = label_tag :username
      = text_field_tag :username
      %br
      = label_tag :location
      = text_field_tag :location
  %br
  = submit_tag "Login"
