Welcome to the TA Queue!
%br
= link_to "See active queues", boards_path
- if flash[:error]
  .error 
    %ul
      %li= flash[:error]
#new_queue
  Create new queue:
  = form_for @board do |f|
    = f.label :title
    = f.text_field :title
    %br
    = f.label :password
    = f.text_field :password
    %br
    = f.label :master_password
    = text_field_tag :master_password
    %br
    = submit_tag "Create"
