= content_for :javascripts do javascript_include_tag "jquery", "boards", "Queue", "queue" end
= content_for :stylesheets do stylesheet_link_tag "style", "show", "chalkboard" end
%table{ :class => "chalkboard" }
  %tr
    %td{ :class => "tl" }
    %td{ :class => "tm" }
    %td{ :class => "tm" }
    %td{ :class => "tm" }
    %td{ :class => "tr" }
  %tr
    %td{ :class => "ml" }
    %td{ :class => "mm" }
      #cork_board
        Logged in as 
        %b= @current_user.username
        = hidden_field_tag "board_title", @board.title
        = hidden_field_tag "user_token", @current_user.token
        = hidden_field_tag "user_id", @current_user.id.to_s
        = hidden_field_tag "is_ta", @current_user.ta?
        %br/
        %ul#ta_list
        - if @current_user.student?
          = button_to "Sign out", board_student_path(@board, @current_user), :method => :delete
        - else
          = button_to "Sign out", board_ta_path(@board, @current_user), :method => :delete
        - if @current_user.ta?
          %input{ :id => "accept_next_button", :type => "button", :value => "Accept Next" }
          
        #body
          #list
            #list_header
              TA Queue
            #inner_list
            #list_buttons
              - if @current_user.ta?
                %input{ :type => "button", :value => "Freeze" }
                %input{ :id => "activate_queue", :type => "button", :value => "Activate" }
              - else
                %input{ :id => "enter_queue_button", :type => "button", :value => "Enter Queue" }
                %input{ :id => "exit_queue_button", :type => "button", :value => "Exit Queue" }
          #discussion
            #discussion_header
              Question Board
            #inner_discussion
            #discussion_buttons 
          
          
          -#.lists
            - if false && :student?
              %li{ :id => (@user.admin? ? "admin_row" : "student_row") + "-" + @user.id.to_s }
            - if :admin?
              Admin stuff here
              
              <li id="admin_row-1"> </li>
    %td{ :class => "ml" }
      #left_tab_bar
        #queue_tab
          .top_tab.left
          .content_tab.left
            Queue
          .bottom_tab.left
      .border_container
        .borders
    %td{ :class => "mm" }
      #status_bar
        #notification
          No notifications
      #panes
        #queue_panel
          #queue_list
    %td{ :class => "mr" }
  %tr
    %td{ :class => "bl" }
    %td{ :class => "bm" }
    %td{ :class => "bm" }
    %td{ :class => "bm" }
    %td{ :class => "br" }
