= content_for :javascripts do javascript_include_tag "jquery", "boards", "Queue", "jquery.mousewheel.js", "mwheelIntent", "jquery.jscrollpane.min.js" end
= content_for :stylesheets do stylesheet_link_tag "style", "show", "chalkboard", "jquery.jscrollpane.css.scss" end
%table{ :class => "chalkboard" }
  %tr
    %td{ :class => "tl" }
    %td{ :class => "tm" }
    %td{ :class => "tm" }
    %td{ :class => "tm" }
    %td{ :class => "tr" }
  %tr
    %td{ :class => "ml" }
    %td{ :class => "mm" }
      #cork_board
        #control_panel
          #control_bar
            - if @current_user.student?
              %input{ :id => "enter_queue", :type => "button", :value => (@current_user.in_queue? ? "Exit Queue" : "Enter Queue") }
              = button_to "Sign out", board_student_path(@board, @current_user), :method => :delete, :id => "sign_out", :class => "sign_out_with"
            - else
              %input{ :id => "activate_queue", :type => "button", :value => (@board.active? ? "Deactivate" : "Activate") }
              %input{ :id => "freeze_queue", :type => "button", :value => (@board.frozen? ? "Unfreeze" : "Freeze") }
              = button_to "Sign out", board_ta_path(@board, @current_user), :method => :delete, :id => "sign_out", :class => "sign_out_with"
        #student_welcome
          .post_it
            %b= "Welcome " + @current_user.username + "!"
            .message
              %span Position in queue: 1
            = hidden_field_tag "board_title", @board.title
            = hidden_field_tag "user_token", @current_user.token
            = hidden_field_tag "user_id", @current_user.id.to_s
            = hidden_field_tag "is_ta", @current_user.ta?
        #tas_in_queue_header
          %div
            Available TAs
        #tas_in_queue
          .post_it
    %td{ :class => "ml" }
      .border_container
        .borders
    %td{ :class => "mm" }
      #status_bar
        #notification
          No notifications
      #panes
        #queue_panel.scroll-pane
          #queue_list
    %td{ :class => "mr" }
      #left_tab_bar
        #queue_tab
          .top_tab.left
          .content_tab.left
            Queue
          .bottom_tab.left
  %tr
    %td{ :class => "bl" }
    %td{ :class => "bm" }
    %td{ :class => "bm" }
    %td{ :class => "bm" }
    %td{ :class => "br" }
