#header
  Logged in as 
  %b= @current_user.username
  = form_tag "/" do |f|
    = hidden_field_tag "board_title", @board.title
    = hidden_field_tag "user_token", @current_user.token
    = hidden_field_tag "user_id", @current_user.id.to_s
  %br/
  %ul#ta_list
  = button_to "Sign out", board_logout_path(@board), :method => :get
  - if @current_user.ta?
    %input{ :type => "button", :value => "Accept Next" }
#body
  #list
    #list_header
      TA Queue
    #inner_list
    #list_buttons
      - if @current_user.ta?
        %input{ :type => "button", :value => "Freeze" }
      - else
        %input{ :id => "enter_queue_button", :type => "button", :value => "Enter Queue" }
        %input{ :id => "exit_queue_button", :type => "button", :value => "Exit Queue" }
  #discussion
    #discussion_header
      Question Board
    #inner_discussion
    #discussion_buttons
      %input{ :id => "freeze_button", :name => "freeze_button", :type => "button", :value => "Freeze" }
  
  
  
  -#.lists
    - if false && :student?
      %li{ :id => (@user.admin? ? "admin_row" : "student_row") + "-" + @user.id.to_s }
    - if :admin?
      Admin stuff here
      
      <li id="admin_row-1"> </li>
  
