<!DOCTYPE html>
<html>
<head>
  <title>TaQueue</title>
  <%= stylesheet_link_tag    "application" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content" class="shadow">
	<%= yield %>
</div>

</body>
</html>
